@import "src/app/core/scss/fuse";

#sample{
    background: #e9eff4;
}

.caja-sample{
    .filterk{
        .cabe{
            width: 100%;
            display: flex;
            padding: 10px 10px 0 10px;
            justify-content: flex-end;

            .formD button{
                margin: 0 5px;
            }

            form{
                mat-form-field{
                    padding: 0 10px;
                    color: #4e4e4e;
                    width: 50%;
                }

                ::ng-deep .mat-focused .mat-form-field-label {
                    /*change color of label*/
                    color: #1d9dd3 !important;
                }

                ::ng-deep .mat-form-field-invalid .mat-input-element{
                    color: #FF3E31 !important;
                    caret-color: #FF3E31 !important;
                }
                   
                ::ng-deep.mat-form-field-underline {
                    /*change color of underline*/
                    background-color: #4e4e4e !important;
                } 
                   
                ::ng-deep.mat-form-field-ripple {
                    /*change color of underline when focused*/
                    background-color: #1d9dd3 !important;
                }
                   
                ::ng-deep .mat-form-field-label {
                    /*change color of label*/
                    color: #4e4e4e !important;
                }
                
                mat-datepicker-toggle {
                    color: #1d9dd3 !important;
                }
            }

            .selec{
                display: flex;

                div{
                    width: 33.33%;

                    mat-form-field{
                        padding: 0 10px;
                        color: #4e4e4e;
                    }

                    ::ng-deep .mat-focused .mat-form-field-label {
                        /*change color of label*/
                        color: #1d9dd3 !important;
                    }
                       
                    ::ng-deep.mat-form-field-underline {
                        /*change color of underline*/
                        background-color: #4e4e4e !important;
                    } 
                       
                    ::ng-deep.mat-form-field-ripple {
                        /*change color of underline when focused*/
                        background-color: #1d9dd3 !important;
                    }
                       
                    ::ng-deep .mat-form-field-label {
                        /*change color of label*/
                        color: #4e4e4e !important;
                    }
                }
            }
        }
    }

    .cuer{
        padding: 0 20px 20px 20px;
        display: flex;
        flex-wrap: wrap;

        .title{
            width: 100%;
            font-size: 25px;
            margin: 10px 0px;
        }

        .info, .gafri{
            width: 50%;
            padding: 0 10px;
        }

        .tabla1, .sample-grafi{
            background: white;
            padding: 10px;
        }

        .personasP{
            overflow: auto;
            background: white;
            padding: 10px;
        }
        .personas{
            display: flex;
            margin: 10px 0;
            /*justify-content: space-evenly;*/

            .per1{
                padding: 0 10px;
                text-align: center;
                border-right: 1px solid #ddd;
                width: 120px;
                min-width: 120px;
                max-width: 120px;

                .nombre{
                    font-size: 12px;
                }

                .ven{
                    font-size: 19px;

                    p{
                        margin: 0;
                        font-size: 17px;
                    }
                }
            }

            .per1:last-child{
                border-right: 0;
            }
        }
    }
}

.hide-element {
    display: none;
}


.selectBusinessUnit{
    font-size: 22px;
    color: red;
}

table.simple thead tr th{
    white-space: normal;
    word-wrap: break-word;
}

table.simple tbody tr td{
    white-space: normal;
    word-wrap: break-word;
}

table {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}
  
table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}
  
table tr {
    padding: .35em;
}
 
table th,
table td {
    padding: .625em;
}
  
table th {
    font-size: .85em;
}

table td p{
    display: none;
}

@media (max-width: 800px){
    .caja-sample{
        .cuer{
            .info, .gafri{
                width: 100%;
            }

            .personas{
                flex-wrap: wrap;
                justify-content: flex-start;

                .per1{
                    border: 0;
                    width: 50%;
                    margin-bottom: 5px;
                }
            }
        }
    }
}

@media (max-width: 620px){
    table.simple thead tr th{
        padding: 5px 2px;
    }
    
    table.simple tbody tr td{
        padding: 5px 2px;
    }

    table {
        border: 0;
    }
    
    table caption {
        font-size: 1.3em;
    }
      
    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
      
    table tr {
        border: 0px;
        display: flex;
        margin-bottom: .625em;
        flex-wrap: wrap;
    }
      
    table td {
        border-bottom: 1px solid #ddd !important;
        display: block;
        font-size: .8em;
        text-align: right;
        width: 100%;
        display: flex;
        align-items: center;
    }
      
    table td p{
        position: relative;
        display: inline-block;
        text-align: left;
        width: 50%;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.54);
        margin: 0;
    }

    table td span{
        width: 50%;
        position: relative;
        display: inline-block;
    }
}

@media (max-width: 375px){
    .caja-sample{
        .filterk{
            .cabe{
                .formD button{
                    font-size: 11px;
                }
            }
        }
        .cuer{
            .info, .gafri{
                padding: 0;
            }
            .personas{
                .per1{
                    width: 100%;
                    margin-bottom: 5px;
                    border-bottom: 1px solid #ddd;
                }
            }
        }
    }
}